.simplified{
	padding-left: 70px;
	font-weight: bolder;
	font-size: 50px;
	padding-top: 20px;
}

.traditional{
	padding-top: 40px;
	font-weight: bolder;
	font-size: 50px;
	padding-left: 70px;
}

/*
*
*Loading state buttons
*
*/

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px;
}

